<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Info</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800 font-sans">
  <div class="container">
    <h1>👤 Personal Information</h1>
    <ul>
      <li><strong>Name:</strong> QuantunD3v</li>
      <li><strong>Role:</strong> Fullstack Dev</li>
      <li><strong>OS:</strong> Arch Linux</li>
      <li><strong>GitHub:</strong> <a href="https://github.com/QuantunD3v">QuantunD3v</a></li>
    </ul>
  </div>
</body>
</html>
